@{
    List<Patient> patients = ViewBag.Patients;
}

<h1>Liste des patients</h1>
@if (patients != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Nom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Naissance</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Patient p in patients)
            {
                <tr>
                    <th scope="row">@p.Code</th>
                    <td>@p.Nom</td>
                    <td>@p.Adresse</td>
                    <td>@p.Naissance.ToString("dd MMMM yyyy")</td>
                    <td><a>Détail</a></td>
                </tr>
            }
        </tbody>
    </table>
}